<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.2.2.2.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">

    <!-- Le fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->

    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

  </head>

  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container-narrow">
          <a class="brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
          <ul class="nav">
            {% assign pages_list = site.pages %}
            {% assign group = 'navigation' %}
            {% include JB/pages_list %}
          </ul>

	  <!-- ma recherche Google personnalisée -->
	  <form action="https://google.com/search" method="get">
	  <fieldset role="search">
            <input name="sitesearch"
              value="https://vincenttam.github.io/blog2" type="hidden">
            <input class="search" type="search" name="q"
              placeholder="Recherche sur le site">
	  </fieldset>
	  </form>
	</div>
      </div>
    </div>

    <div class="container-narrow">

      <div class="content">
        {{ content }}
      </div>
      <hr>
      <footer>
	<h3>Ce site est validé par le validateur W3C</h3>
	<p>
	  <a href="http://validator.w3.org/check?uri={{ BASE_PATH }}{{ page.url | url_param_escape }}"><img src="{{ BASE_PATH }}/images/valid-html5.png" alt="HTML5 valide">
	  La validation HTML du W3C</a><br>
	  Le logo est emprunté à <a href="http://www.texarkanagazette.com/content/themes/DailyNews/images/valid-html5.png">ici</a>.
	</p>

        <p>
          <a rel="license"
            href="http://creativecommons.org/licenses/by-sa/3.0/fr/"><img
              alt="Licence Creative Commons" style="border-width:0"
              src="https://vincenttam.github.io/images/CC-BY-SA_icon.svg">
          </a><br>Ce(tte) œuvre est mise à disposition selon les
          termes de la <a rel="license"
            href="http://creativecommons.org/licenses/by-sa/3.0/fr/">Licence
            Creative Commons</a> Attribution -  Partage dans les
          Mêmes Conditions 3.0 France.
	</p>

	<p>
          Site propulsé par <a href="http://jekyllbootstrap.com"
            title="Le framework Jekyll définitif pour
            la publication de blog">Jekyll Bootstrap</a> et <a
            href="http://getbootstrap.com">Bootstrap</a>, thème par
          <a href="http://themes.jekyllbootstrap.com/preview/twitter/">Twiter</a>.
        </p>
      </footer>

    </div>

    {% include JB/analytics %}
  </body>
</html>
